*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #091016;
}
.menu{
    margin-left: -100%;
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    flex-direction: column;
    z-index: 5;
    position: fixed;
    background-color: #091016d0;    
    backdrop-filter: blur(10px);
}
.menu a{
    text-decoration: none;
}
.menu span{
    color: white;
    z-index: 5;
    font-size: 2rem;
    position: absolute;
    top: 4px;
    right: 3rem;
}
header#header{
    background-color: #0910169a;
    backdrop-filter: blur(10px);
    position: fixed;
    height: 4rem;
}

header#header img#logoCbr{
    width: 6rem;
    height: 2.5rem;
    filter: invert();
}

header#header nav a{
    text-decoration: none;
}
header#header nav a img{
    width: 1.5rem;
}

header#header nav a:hover{
   transform: scale(1.1);
}

header#header nav a:visited{
    color: #5DCAD1;
}
main{
   margin-top: 9.6rem;
}

main img[alt="foto personal"]{
    aspect-ratio: 1/1;
   width: 12rem;
   height: 15rem;
}
article section#info{
    width: 35rem;
    color: white;
}

#descargar{
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #091016;
    text-decoration: none;
    text-transform: uppercase;
}
article section#info #contacto img{
    width: 3rem;
    height: 3rem;
}

h3#front{
    color: rgb(255, 255, 255);
}
footer{
   margin-top: 10rem;
}
footer hr{
    background: rgba(255, 255, 255, 0.582);
    height: 0.1rem;
}   
footer small{
    margin-left: 6rem;
    color: rgba(255, 255, 255, 0.466);
}

@media(max-width:678px){
    body{
        height: auto;
    }
    header#header{
        padding: 0;
    }
    header#header img{
       margin: 0;
    }
    header#header nav{
        display: none;
    }
    main #article{
        text-align: center;
        justify-content: center;
    }
    
}